<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container">
  <p-toolbar class="mb-3 app-toolbar p-4">
    <ng-template pTemplate="left">
      <span class="text-2xl font-semibold">Мини-Трекер Задач</span>
    </ng-template>
    <ng-template pTemplate="right">
      <button pButton label="Добавить задачу" icon="pi pi-plus" (click)="openAddDialog()"></button>
    </ng-template>
  </p-toolbar>

  <p-card class="app-card">
    <app-task-table [tasks]="tasks()" (onToggle)="toggleCompleted($event.task, $event.value)" (onDelete)="deleteTask($event)"></app-task-table>
  </p-card>
</div>

<p-dialog header="Добавление задачи" [(visible)]="addDialogVisible" [modal]="true" [draggable]="false" [dismissableMask]="true" [breakpoints]="{'960px': '40vw', '640px': '90vw'}" [style]="{width: '30vw', maxWidth: '520px'}">
  <div class="p-fluid dialog-form">
    <div class="p-field">
      <label for="title">Название</label>
      <input id="title" type="text" pInputText [(ngModel)]="newTitle" placeholder="Например: Купить хлеб" />
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="dialog-footer">
      <button pButton label="Отмена" (click)="addDialogVisible=false"></button>
      <button pButton label="Создать" icon="pi pi-check" (click)="createTask()" [disabled]="!newTitle.trim()" severity="primary"></button>
    </div>
  </ng-template>
</p-dialog>


